.searchpage__header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}
.searchpage__logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchpage__headerBody > .search > .search__input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchpage__options{
    display: flex;
    align-items: center;
    color: grey;
}

.searchpage__optionsLeft , 
.searchpage__optionsRight{
    display: flex;
}

.searchpage__options a, 
.searchpage__optionsRight a{
    text-decoration: none;
    color: grey;
}

.searchpage__optionsRight{
    margin-left: 80px;
}

.searchpage__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchpage__option a{
    margin-right: 15px;
}

.searchpage__result{
    margin: 40px 0;
}

.searchpage__resultCount{
    color: #70757a;
    font-size: 14px;
    
}

.searchpage__results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchpage__resultTitle{
    text-decoration: none;
    /* font-weight: normal; */
}
.searchpage__resultLink{
    text-decoration: none;
    color: grey;
}

.searchpage__resultTitle:hover{
    text-decoration: underline;
    
}

.searchpage__resultSnippet{
    margin-top: 10px;
}

.searchpage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
